body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Nav Bar*/
.containerList {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.containerNavBar {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.listItem {
  margin-left: 2rem;
}

.listItem:hover {
  color: rgb(6, 143, 6);
  cursor: pointer;
}

.treeIcon {
  width: 2rem;
  height: 2.6rem;
  display: inline;
  margin-top: 0.3rem;
}

.title {
  font-family: 'Pacifico', cursive;
  color: red;
  font-size: 2rem;
  display: inline;
  margin-left: 0.2rem;
  position: relative;
  bottom: 0.6rem;
}

.cartItems {
  position: relative;
  bottom: 1rem;
  left: 0.3rem;
}

/*Item list container*/
.messageStyle {
  color: rgb(107, 107, 107);
  font-size: 2rem;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/*Item count*/
.itemCountContainer {
  margin: auto;
  width: 25rem;
  background-color: rgb(226, 255, 230);
  height: 20.3rem;
}

.lessMore {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 2rem;
  background-color: white;
  margin: auto;
  border-radius: 15px;
  overflow: hidden;
  perspective: 1px;
  margin-top: 0.5rem;
}

.lessMoreBtn {
  border: none;
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  color: green;
  font-size: 1.4rem;
  cursor: pointer;
}

.qty {
  font-size: 1.4rem;
  position: relative;
  bottom: 1.34rem;
}

.addBtn {
  width: 90%;
  height: 2.2rem;
  margin-left: 5%;
  margin-top: 4%;
  border-radius: 8px;
  border-color: rgb(0, 179, 89);
  color: rgb(0, 179, 89);
  font-weight: bold;
  background-color: white;
  cursor: pointer;
}

/*Alert Count*/

.alertCountContainer {
  width: 10rem;
  background-color: skyblue;
  height: 8rem;
}

.alertCountMsg {
  color: black;
  font-size: 1.4rem;
}

.productImg {
  width: 15rem;
  height: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.itemListCont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*Item */
.itemContainer {
  margin: 2rem 2rem 2rem 2rem;
  position: relative;
  width: 20rem;
  height: 23rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 92, 23);
  border-radius: 10px;
}

.detailsBtn {
  display: block;
  width: 90%;
  height: 2rem;
  margin: auto;
}

.productItemImg {
  display: block;
  margin: auto;
  width: 13rem;
}

.itemTitle {
  display: block;
  margin: auto;
  text-align: center;
}

.categoryTitle {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.lineSeparator {
  width: 100%;
  background-color: rgb(0, 92, 23);
  height: 1px;
}

.detailsBtn {
  margin-top: 2rem;
}

.loading {
  font-size: 2rem;
  color: red;
  font-weight: bold;
  text-align: center;
}

.description {
  font-size: 0.78rem;
  text-align: center;
}

/*Item Detail Container*/
.itemDetailContainer {
  margin: 1rem auto 2rem;
  position: relative;
  width: 50rem;
  height: 27rem;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 92, 23);
  border-radius: 10px;
  display: flex;
}

.productDetailImg {
  margin-left: 1rem;
  width: 23rem;
  height: 23rem;
}

.details {
  display: inline;
  margin-top: 4rem;
}

.itemDetailTitle, .itemDetailPrice {
  font-weight: bold;
}

.itemDetailTitle {
  font-size: 1.25rem;
}

.itemDetailCategory {
  text-transform: uppercase;
  margin-left: 2rem;
}

.itemDetailPrice {
  font-size: 1.25rem;
}

.addToCartBtn {
  display: block;
  width: 90%;
  height: 2rem;
  margin-top: 1rem;
}

.inputQty {
  width: 3rem;
  height: 2rem;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}

.addLessBtn {
  width: 1rem;
}