body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containerList{
  list-style: none;
  display: flex;
  flex-direction: row;
}

.containerNavBar{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.listItem{
  margin-left: 2rem;
}

.listItem:hover{
  color: rgb(6, 143, 6);
  cursor: pointer;
}

.treeIcon{
  width: 2rem;
  height: 2.6rem;
  display: inline;
  margin-top: 0.3rem;
}


.title{
  font-size: 1.3rem;
  display: inline;
  margin-left: 1rem;
  position: relative;
  bottom: 0.7rem;
}
